hgroup ,article ,section ,footer ,nav ,header ,aside{display:block;}
*     {
  font-family:Devil Breeze;
  padding:0px;
  margin:0px;
}
#wrapper{
  width:100%;
  display:-webkit-box;
  -webkit-box-orient:vertical;
  margin:0px;
  padding:0px;
  -webkit-box-flex:0;
}
#names{
  font-weight:bolder;
  color:white;
  font-size:20px;
  padding:10px;
  text-align:center;
  background:red;
  padding-top:20px;
  height:30px;
}
#option_bar{
  text-align:center;
  background:red;
  height:70px;
}
#option_bar li{
  color:rgba(255, 150, 150, 1);
  font-size:20px;
  display:inline-block;
  text-align: center;
  padding-left:35px;
  padding-right:35px;
  padding-top:25px;
  height:40px;
  font-family:Novecento wide Book;
}
#option_bar li:hover{
  color:white;
  border-bottom:5px solid white;
}
#middle{
  display:-webkit-box;
  box-orient:horizontal;
}
#main_content{
  padding:10px;
  background-color:rgba(0, 0, 0, 0.1);
  -webkit-box-flex:1;
}
#side_news{
  color:white;
  width:220px;
  padding:20px;
  background-color:rgb(2, 0, 88);
}
article{
  border: 2px solid red;
  padding:20px;
  margin-left:20%;
  margin-right:20%;
  margin-top:1%;
  text-align:center;
  -webkit-transition:scale 0.25s;
  background-color:rgba(246, 0, 0, 0.29);
  background-image:
   url("/Users/colinlo/Documents/Unknown.png");
   background-repeat:no-repeat;
   background-position:center;
   background-size:cover;
}
.artfoot{
  font-size:11px;
  font-family:Novecento wide Light;
  padding-left:80%;
}
.arthead{
  font-style:bolder;
  font-family:BRUX;
  padding:10px;
}
img{
  border:2px solid black;
  margin:10px;
  border-radius:5px;
}
img:hover{
  -webkit-transform:scale(1.01);
  width:500px;
}
#footer{
  border-top:2px solid red;
  padding-top:75px;
  text-align:center;
  background-color:rgb(133, 133, 133);
  height:100px;
}
#recent_news{

}
.alexis{
  font-family:Rockwell;
}
